{% extends 'blog/base.html' %}
{% load comment_tags %}  
{% load ratings %}
{% load base_tags %}
{% load humanize %}

<!--Dynamic title -->
{% block title %} |{{object.title}} {% endblock  %}

{% block main %}

<!-- Dynamic Page Header-->
<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{object.title}}</h1>
                    {% if article.is_special %}
                        <span  style="font-size: 14px; background-color:red; padding:3px; border-radius:2px;">ویژه</span>
                    {% endif %}
                    <time>{{object.publish|naturaltime}}</time>
                    <div> {% ratings object %} </div>
                    <!--ip address-->
                    <div> بازدید ها: {{object.hits.count}}</div> </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--#############################################################################-->
   <!-- Post Content-->
   <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                    {% if object.is_special %}
                        {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
                            {{object.description|safe}}
                        {% else %}
                            {{article.description|striptags|truncatewords:30}}
                            <p class="alert alert-warning" > مقاله ویژه : برای مشاهده ان  باید  <a class="alert-link" href="#" >  اشتراک ویژه خریداری بکنید</a> </p>
                           
                        {% endif %}
                    {% else %}
                        {{object.description|safe}}
                    {% endif %}

                    {% render_comments object request %}  
                    {% include_bootstrap %} 
                   
                    
                </div>
            </div>
        </div>
</aobject
<!-- Footer-->

{% endblock  %}